@charset "UTF-8";

/* Aparelho todo os tipos */

body {
  background-color: rgb(72, 72, 237);
  font-family: monospace;
  min-height: fit-content;
}

h1 {
  font-size: 70px;
  text-align: center;
}

.imagens > img {
  width: 33.33%;
  height: 440px;
  margin: 0;
}

.imagens {
  display: flex;
  width: 100%;
}

.mapa {
  margin-top: 100px;
  /* display: flex;
  justify-content: center; */
  margin: 8px;
}

.contato { 
position: fixed;
right: 0;
bottom: 0;
}

p {
  color: yellow;
  text-align: center;
  font-size: 30px;
}